<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge" xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration" xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions" xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">
  <resources cache="true">
    <cfg:filters/>
    <cfg:groups>
      <cfg:group name="RTFExtensions.ButtonReference">
        <cfg:fileset>
          <cfg:file type="style">{ThemePath}/ButtonReference.css</cfg:file>
          <cfg:file type="script">/Popups/PopupReference.js</cfg:file>
        </cfg:fileset>

        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <cfg:group name="RTFExtensions.ButtonReference.Commands" merger="Tridion.Web.UI.Core.Configuration.Resources.CommandGroupProcessor" include="byreference" merge="release">
        <cfg:fileset>
          <cfg:file type="script">/Commands/ButtonReference.js</cfg:file>

          <cfg:file type="reference">RTFExtensions.ButtonReference.CommandSet</cfg:file>
        </cfg:fileset>

        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

    </cfg:groups>
  </resources>
  <definitionfiles/>
  <extensions>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls/>
        <ext:listdefinitions/>
        <ext:taskbars/>
        <ext:commands/>
        <ext:commandextensions/>
        <ext:contextmenus/>
        <ext:lists/>
        <ext:tabpages/>
        <ext:toolbars/>
        <ext:ribbontoolbars>
          <ext:add>
            <!-- RIBBON TAB -->

            <!-- GROUPS -->
            <ext:extension assignid="ExtensionGroup" pageid="FormatPage" name="RTF Extensions">
              <ext:group/>
              <ext:apply>
                <ext:view name="ComponentView">
                  <ext:control id="ItemToolbar"/>
                </ext:view>
              </ext:apply>
            </ext:extension>

            <!-- BUTTONS -->
            <ext:extension pageid="FormatPage" groupid="ExtensionGroup" name="Button&lt;br/&gt;Reference" assignid="ButtonReference">
              <ext:command>ButtonReference</ext:command>
              <ext:title>Button Reference</ext:title>
              <ext:dependencies>
                <cfg:dependency>RTFExtensions.ButtonReference.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="ComponentView">
                  <ext:control id="ItemToolbar"/>
                </ext:view>
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:ribbontoolbars>
      </ext:editorextension>
    </ext:editorextensions>
    <ext:dataextenders/>
  </extensions>
  <commands>
    <cfg:commandset id="RTFExtensions.ButtonReference.CommandSet">
      <cfg:command name="ButtonReference" implementation="RTFExtensions.Commands.ButtonReference"/>
      <cfg:dependencies>
        <cfg:dependency/>
      </cfg:dependencies>
    </cfg:commandset>
  </commands>
  <contextmenus/>
  <localization/>
  <settings>
    <defaultpage/>
    <navigatorurl/>
    <editurls/>
    <listdefinitions/>
    <itemicons/>
    <theme>
      <path>/Themes</path>
    </theme>
    <customconfiguration/>
  </settings>
</Configuration>